<div id="header">
    <div class="grid-container">
        <div class="header-row grid-row">
            <div class="header-logo">
                <h1 class="header-logo-title"><a href="{{ site.baseurl }}">{{ site.name }}</a></h1>
            </div>
            <div class="header-nav">
                <ul class="header-navlist">
                    <li class="header-navitem"><a href="{{ site.baseurl }}research/" class="header-navlink">Research</a></li>
                    <li class="header-navitem"><a href="{{ site.baseurl }}teaching/" class="header-navlink">Teaching</a></li>
                    <li class="header-navitem"><a href="{{ site.baseurl }}publications/" class="header-navlink">Publications</a></li>
                    <li class="header-navitem"><a href="{{ site.baseurl }}CV/" class="header-navlink">CV</a></li>
                    <li class="header-navitem"><a href="#contact"
class="header-navlink">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
